<mat-card>
    <mat-card-title>{{ isEdit ? "Editar Telefone" : "Novo Telefone" }}</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Número" [(ngModel)]="personPhone.phoneNumber" name="number">
        </mat-form-field>

        <mat-form-field >
            <mat-label>Tipo</mat-label>
            <mat-select [disabled]="isEdit" matInput required [(ngModel)]="personPhone.phoneNumberTypeID" name="typePhoneNumber">
              <mat-option *ngFor="let type of selectPhoneType" [value]="type.phoneNumberTypeID">
                {{type.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="createOrUpdate() " color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancelPersonPhone() " color="Red">
        Cancelar
    </button>
</mat-card>

